html, body {
  height: 100%;
  margin: 0;
}
.content {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}
.footer {
  height: 50px;
}



.title-style {
  font-family: 'Aguafina Script', cursive;
  color: #fedc72!important;
  text-decoration: none!important;
}

.up-space {
  margin-top: 7rem;
}

.img-conf {
  object-fit: cover;
  width: inherit;
  height: 18rem;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.pointer {
  cursor: pointer;
}
