html, body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 100%;
  margin: 0 auto -50px;
}
.footer {
  height: 50px;
}

.title-style {
  font-family: 'Aguafina Script', cursive;
  color: #fedc72!important;
  text-decoration: none!important;
}

.up-space {
  margin-top: 7rem;
}

.img-conf {
  object-fit: cover;
  width: inherit;
}

.side-marge{
  margin: 0 6rem;
}

.home-img {
  object-fit: cover;
  height: 34rem!important;
}

.img-conf-profil {
  object-fit: cover;
  width: inherit;
  height: 9rem;
}

.event {
  transition: box-shadow 0.3s;
  text-decoration: none;
  color: inherit;
}

.event:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  color: inherit;
  text-decoration: none;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.pointer {
  cursor: pointer;
}

.conf-categ {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.onCategory {
  transition: 0.2s;
}

.onCategory:hover {
  background-color: #343a40;
  color: #f8f9fa;
}

.vertical-super {
  vertical-align: super;
}

.letter-space {
  letter-spacing: 1.7px;
}
